.format {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  max-width: 65ch;
  margin: 2rem auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  
}

.grid > * {
  grid-column: 2;
}